@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto+Condensed:wght@300&display=swap');

html {
    font-size: 62.5%;

}


/* Registrate   */

.registrate-content form {
    display: flex;
    flex-direction: column;
}

.registrate-content label {
    font-weight: bold;
    margin-bottom: 5px;
}



/*Registrate/FAQ/Productos Body arreglo espacios blancos*/
.registrate-body, .faq-body, .productos-body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*Registrate/FAQ/Productos Main arreglo espacios blancos*/
.registrate-content, .faq-main, .productos-main {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    font-family: 'Fira Sans', sans-serif;
}



/* Categorias */

.titulo-categorias {

    font-weight: bold;
    font-size: 3rem;
    font-family: 'Fira Sans', sans-serif;

}

/* Quesos y Vinos */
.quesos img {
    width: 100%;
    height: 100%;
}

.vinos img {
    width: 100%;
    height: 100%;
}



.vinos {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.quesos p {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;

}

/* FAQ */

.faq {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;

}

.accordion-button {
    font-family: 'Fira Sans', sans-serif;

}

.accordion-collapse {
    font-family: 'Fira Sans', sans-serif;
    font-style: italic;
    font-size: 1rem;
}


/*MDP*/

.mdp h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.mdp p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
}




/* Producto */


.titulo-producto {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;

}

.titulo-producto {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.productos {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
}

.product {

    align-items: center;
    margin: 40px;
}

.product img {
    width: 150px;
    height: 150px;

}


/* LA DISTRIBUIDORA------------------------------ */

/* Establece la imagen como fondo del texto */
.distribuidora {
    position: relative;
    color: black;
    text-align: center;
}

.distribuidora::before {
    content: "";
    background-image: url('../images/bannervino2.png');
    background-size: 100% auto;
    /* Anchura al 100% y altura automática para mantener la proporción original */
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .5;
    /* Ajusta la opacidad para oscurecer la imagen */
    z-index: -1;
    /* Coloca la imagen detrás del contenido de texto */
}

/* Estilos para el texto */
.distribuidora h1 {
    font-size: 2.5rem;
    margin-top: 50px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.distribuidora p {
    font-size: 1.5rem;
    margin-top: 20px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}



