@import "partials/variables";
@import "partials/faq";
@import "partials/index";
@import "partials/mdp";
@import "partials/productos";


@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto+Condensed:wght@300&display=swap');



html {
    font-size: 62.5%;
}

/* Body | Arreglo espacios blancos */
.registrate-body,
.faq-body,
.productos-body {
    margin: 0;
    padding: 0;
    background-color: $blanco;
    @include flex;
    min-height: 100vh;
}

/* Main | Arreglo espacios blancos */
.registrate-content,
.faq-main,
.productos-main {
    flex-grow: 1;
    background-color: $blanco;
    padding: 20px;
    font-family: $fuente;
}

/* Registrate */
.registrate-content {
    form {
        @include flex;

        label {
            font-weight: $bold;
            margin-bottom: 5px;
        }
    }
}



.logo {
    img {
        width: 100%
    }
}

/* Botones Registrate y Newsletter */
.btn {
    border-radius: 3px;
    border: none;
    font-weight: $bold;

    /* Color al posar el click sobre el boton */
    &:hover {
        background-color: $violeta !important;
    }

    /*Cambia Color cuando hago Click*/
    &:active {
        background-color: $verde !important;
    }
}