@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Roboto+Condensed:wght@300&display=swap');

$font-family: 'Fira Sans', sans-serif;
$font-weight-bold: bold;

html {
    font-size: 62.5%;
}

/* Registrate */
.registrate-content {
    form {
        display: flex;
        flex-direction: column;
        label {
            font-weight: $font-weight-bold;
            margin-bottom: 5px;
        }
    }
}

/* Registrate/FAQ/Productos Body arreglo espacios blancos */
.registrate-body, .faq-body, .productos-body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Registrate/FAQ/Productos Main arreglo espacios blancos */
.registrate-content, .faq-main, .productos-main {
    flex-grow: 1;
    background-color: #fff;
    padding: 20px;
    font-family: $font-family;
}

/* Categorias */
.titulo-categorias {
    font-weight: $font-weight-bold;
    font-size: 3rem;
    font-family: $font-family;
}

/* Quesos y Vinos */
.quesos, .vinos {
    img {
        width: 100%;
        height: 100%;
    }
    &.vinos {
        font-weight: $font-weight-bold;
        font-size: 2rem;
        font-family: $font-family, 'Roboto Condensed', sans-serif;
    }
    &.quesos {
        p {
            font-weight: $font-weight-bold;
            font-size: 2rem;
            font-family: $font-family, 'Roboto Condensed', sans-serif;
        }
    }
}

/* FAQ */
.faq {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: 3rem;
    .accordion-button {
        font-family: $font-family;
    }
    .accordion-collapse {
        font-family: $font-family;
        font-style: italic;
        font-size: 1rem;
    }
}

/* MDP */
.mdp {
    h1 {
        font-family: $font-family;
        font-weight: $font-weight-bold;
        font-size: 3rem;
    }
    p {
        font-family: $font-family;
        font-size: 1rem;
    }
}

/* Producto */
.titulo-producto {
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: 3rem;
}

.productos {
    font-family: $font-family;
    font-size: 1.5rem;
    .product {
        align-items: center;
        margin: 40px;
        img {
            width: 150px;
            height: 150px;
        }
    }
}

/* LA DISTRIBUIDORA */
.distribuidora {
    position: relative;
    color: black;
    text-align: center;
    &::before {
        content: "";
        background-image: url('../images/bannervino2.png');
        background-size: 100% auto;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .5;
        z-index: -1;
    }
    h1 {
        font-size: 2.5rem;
        margin-top: 50px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
    }
    p {
        font-size: 1.5rem;
        margin-top: 20px;
        font-family: $font-family;
        font-weight: $font-weight-bold;
    }
}
